<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>审核状态</title>
    <link rel="stylesheet" href="../../../lib/bootstarp/css/bootstrap.css">
    <link rel="stylesheet" href="../../../lib/layui-v2.5.5/css/layui.css">
    <link rel="stylesheet" href="../../../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../lib/plugin/element-ui/style/index.css">
    <link rel="stylesheet" href="../../../css/public.css" media="all">
    <script src="../../../lib/plugin/vue/vue.min.js"></script>
    <script src="../../../lib/layui-v2.5.5/layui.all.js"></script>
    <script src="../../../lib/layui-v2.5.5/layui.js"></script>
    <script src="../../../lib/plugin/element-ui/index.js"></script>
    <script src="../../../lib/plugin/vue/vue-router.js"></script>
    <script src="../../../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="../../../lib/plugin/axios/axios.min.js"></script>
    <script src="../../../lib/common/jquery.cookie.min.js"></script>
    <script src="../../../lib/plugin/vue/qs.js"></script>
    <style>
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }
    </style>

    <script src="../../../lib/bootstarp/js/bootstrap.js"></script>
    <script src="../../../lib/common/common.js"></script>
    <script src="../../../lib/common/requestUrl.js"></script>
    <script src="js/check.js"></script>

</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
<div id="app">
    <div>
        <fieldset class="layui-elem-field">
            <legend>搜索信息</legend>
            <div class="layui-field-box" style="margin-left: 300px ">
                <label for="">名称： </label>
                <el-input v-model="record.productName" style="display: inline-block;width: 200px"
                          placeholder="产品档案名称"></el-input>
                <label for="">日期： </label>
                <el-date-picker
                        v-model="record.registerTime"
                        type="date"
                        value-format="yyyy-MM-dd"
                        placeholder="选择建档日期">
                </el-date-picker>
                <el-button type="primary" @click="findPage()" icon="el-icon-search">搜索</el-button>
            </div>
        </fieldset>
        <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="待审核" name="等待审核">
                <div>
                    <el-table
                            :data="recordList"
                            ref="multipleTable"
                            v-loading="loading"
                            border
                            @selection-change="handleSelectionChange"
                            style="width: 100%;margin: 0 auto">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column type="expand" label="详细" width="50">
                            <template slot-scope="props">
                                <el-form label-position="left" inline class="demo-table-expand">
                                    <el-form-item label="产品ID">
                                        <span>{{ props.row.productId }}</span>
                                    </el-form-item>
                                    <el-form-item label="产品名称">
                                        <span>{{ props.row.productName }}</span>
                                    </el-form-item>
                                    <el-form-item label="厂商">
                                        <span>{{ props.row.factoryName }}</span>
                                    </el-form-item>
                                    <el-form-item label="配置">
                                        <span>{{ props.row.productClass }}</span>
                                    </el-form-item>
                                    <el-form-item label="保修期">
                                        <span>{{ props.row.warranty }}</span>
                                    </el-form-item>
                                    <el-form-item label="市场单价">
                                        <span>{{ props.row.listPrice }}</span>
                                    </el-form-item>
                                    <el-form-item label="成本单价">
                                        <span>{{ props.row.realCostPrice }}</span>
                                    </el-form-item>
                                    <el-form-item label="单位">
                                        <span>{{ props.row.amountUnit }}</span>
                                    </el-form-item>
                                    <el-form-item label="产品经理">
                                        <span>{{ props.row.responsiblePerson  }}</span>
                                    </el-form-item>
                                    <el-form-item label="登记人">
                                        <span>{{ props.row.register  }}</span>
                                    </el-form-item>
                                    <el-form-item label="产品描述">
                                        <span>{{ props.row. productDescribe }}</span>
                                    </el-form-item>
                                    <el-form-item label="建档时间">
                                        <span>{{ props.row.registerTime }}</span>
                                    </el-form-item>
                                </el-form>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="ID"
                                prop="id">
                        </el-table-column>
                        <el-table-column
                                label="商品名称"
                                prop="productName">
                        </el-table-column>
                        <el-table-column
                                label="审核状态"
                                prop="productDescribe">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="160">
                            <template slot-scope="scope">
                                <el-button-group>
                                    <el-tooltip class="item" effect="dark" content="审核" placement="top-start">
                                        <el-button type="primary" @click="show(scope.row)" data-toggle="modal" data-target="#myModal"
                                                   size="small" icon="el-icon-edit" ></el-button>
                                    </el-tooltip>

                                </el-button-group>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="page"
                            :page-sizes="[10, 20, 30, 40,50,60]"
                            :page-size="pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="total">
                    </el-pagination>
                </div>
            </el-tab-pane>
            <el-tab-pane label="审核通过" name="审核通过">
                <div>
                    <el-table
                            :data="recordList"
                            ref="multipleTable"
                            v-loading="loading"
                            border
                            @selection-change="handleSelectionChange"
                            style="width: 100%;margin: 0 auto">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column type="expand" label="详细" width="50">
                            <template slot-scope="props">
                                <el-form label-position="left" inline class="demo-table-expand">
                                    <el-form-item label="产品ID">
                                        <span>{{ props.row.productId }}</span>
                                    </el-form-item>
                                    <el-form-item label="产品名称">
                                        <span>{{ props.row.productName }}</span>
                                    </el-form-item>
                                    <el-form-item label="厂商">
                                        <span>{{ props.row.factoryName }}</span>
                                    </el-form-item>
                                    <el-form-item label="配置">
                                        <span>{{ props.row.productClass }}</span>
                                    </el-form-item>
                                    <el-form-item label="保修期">
                                        <span>{{ props.row.warranty }}</span>
                                    </el-form-item>
                                    <el-form-item label="市场单价">
                                        <span>{{ props.row.listPrice }}</span>
                                    </el-form-item>
                                    <el-form-item label="成本单价">
                                        <span>{{ props.row.realCostPrice }}</span>
                                    </el-form-item>
                                    <el-form-item label="单位">
                                        <span>{{ props.row.amountUnit }}</span>
                                    </el-form-item>
                                    <el-form-item label="产品经理">
                                        <span>{{ props.row.responsiblePerson  }}</span>
                                    </el-form-item>
                                    <el-form-item label="登记人">
                                        <span>{{ props.row.register  }}</span>
                                    </el-form-item>
                                    <el-form-item label="产品描述">
                                        <span>{{ props.row. productDescribe }}</span>
                                    </el-form-item>
                                    <el-form-item label="建档时间">
                                        <span>{{ props.row.registerTime }}</span>
                                    </el-form-item>
                                </el-form>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="ID"
                                prop="id">
                        </el-table-column>
                        <el-table-column
                                label="商品名称"
                                prop="productName">
                        </el-table-column>
                        <el-table-column
                                label="描述"
                                prop="productDescribe">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="160">
                            <template slot-scope="scope">
                                <el-button-group>
                                    <el-tooltip class="item" effect="dark" content="审核" placement="top-start">
                                        <el-button type="primary" @click="show(scope.row)" data-toggle="modal" data-target="#myModal"
                                                   size="small" icon="el-icon-edit"></el-button>
                                    </el-tooltip>
                                </el-button-group>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="page"
                            :page-sizes="[10, 20, 30, 40,50,60]"
                            :page-size="pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="total">
                    </el-pagination>
                </div>
            </el-tab-pane>
            <el-tab-pane label="审核未通过" name="审核未通过">
                <div>
                    <el-table
                            :data="recordList"
                            ref="multipleTable"
                            v-loading="loading"
                            border
                            @selection-change="handleSelectionChange"
                            style="width: 100%;margin: 0 auto">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column type="expand" label="详细" width="50">
                            <template slot-scope="props">
                                <el-form label-position="left" inline class="demo-table-expand">
                                    <el-form-item label="产品ID">
                                        <span>{{ props.row.productId }}</span>
                                    </el-form-item>
                                    <el-form-item label="产品名称">
                                        <span>{{ props.row.productName }}</span>
                                    </el-form-item>
                                    <el-form-item label="厂商">
                                        <span>{{ props.row.factoryName }}</span>
                                    </el-form-item>
                                    <el-form-item label="配置">
                                        <span>{{ props.row.productClass }}</span>
                                    </el-form-item>
                                    <el-form-item label="保修期">
                                        <span>{{ props.row.warranty }}</span>
                                    </el-form-item>
                                    <el-form-item label="市场单价">
                                        <span>{{ props.row.listPrice }}</span>
                                    </el-form-item>
                                    <el-form-item label="成本单价">
                                        <span>{{ props.row.realCostPrice }}</span>
                                    </el-form-item>
                                    <el-form-item label="单位">
                                        <span>{{ props.row.amountUnit }}</span>
                                    </el-form-item>
                                    <el-form-item label="产品经理">
                                        <span>{{ props.row.responsiblePerson  }}</span>
                                    </el-form-item>
                                    <el-form-item label="登记人">
                                        <span>{{ props.row.register  }}</span>
                                    </el-form-item>
                                    <el-form-item label="产品描述">
                                        <span>{{ props.row. productDescribe }}</span>
                                    </el-form-item>
                                    <el-form-item label="建档时间">
                                        <span>{{ props.row.registerTime }}</span>
                                    </el-form-item>
                                </el-form>
                            </template>
                        </el-table-column>
                        <el-table-column
                                label="ID"
                                prop="id">
                        </el-table-column>
                        <el-table-column
                                label="商品名称"
                                prop="productName">
                        </el-table-column>
                        <el-table-column
                                label="描述"
                                prop="productDescribe">
                        </el-table-column>
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="160">
                            <template slot-scope="scope">
                                <el-button-group>
                                    <el-tooltip class="item" effect="dark" content="审核" placement="top-start">
                                        <el-button type="primary" @click="show(scope.row)" data-toggle="modal" data-target="#myModal"
                                                   size="small" icon="el-icon-edit"></el-button>
                                    </el-tooltip>
                                </el-button-group>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="page"
                            :page-sizes="[10, 20, 30, 40,50,60]"
                            :page-size="pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="total">
                    </el-pagination>
                </div>
            </el-tab-pane>
        </el-tabs>
        <!--查看物料的模态框-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">物料组成</h4>
                    </div>
                    <div class="modal-body">
                        <blockquote class="layui-elem-quote layui-quote-nm">
                            产品编号：{{proID}}
                            产品名称：{{proName}}
                        </blockquote>
                        <div>
                            <table class="layui-table">
                                <colgroup>
                                    <col width="150">
                                    <col width="200">
                                    <col>
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>物料id</th>
                                    <th>名称</th>
                                    <th>所需数量</th>
                                    <th>描述</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="matarual in matarual_constitute">
                                    <td>{{matarual.materialid}}</td>
                                    <td>{{matarual.materialname}}</td>
                                    <td>{{matarual.materialnum}}</td>
                                    <td>{{matarual.materialremark}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <el-button type="primary" @click="checkrecord('审核通过')" v-loading.fullscreen.lock="fullscreenLoading" data-dismiss="modal">审核通过</el-button>
                        <el-button type="warning" @click="checkrecord('审核未通过')" data-dismiss="modal">审核不通过</el-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</body>
</html>
