<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>档案设计管理</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../../../lib/layui-v2.5.5/css/layui.css">
    <script src="../../../lib/layui-v2.5.5/layui.all.js"></script>
    <script src="../../../lib/layui-v2.5.5/layui.js"></script>
    <script src="../../../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/qs/6.9.3/qs.js"></script>
    <script src="config/common.js"></script>
</head>
<body>
<div id="app" >
<div>
    <fieldset class="layui-elem-field">
        <legend>搜索信息</legend>
        <div class="layui-field-box" style="margin-left: 300px ">
            <label for="">产品档案名称：  </label>
            <el-input v-model="record.productName" style="display: inline-block;width: 200px" placeholder="请输入内容"></el-input>
            <label for="">建档日期：  </label>
            <el-date-picker
                    v-model="record.registerTime"
                    type="date"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期">
            </el-date-picker>
            <el-button type="primary" @click="findPage()"  icon="el-icon-search">搜索</el-button>
        </div>
    </fieldset>
    <div >
        <el-table
                :data="recordList"
                ref="multipleTable"
                border
                @selection-change="handleSelectionChange"
                style="width: 100%;margin: 0 auto">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    fixed
                    prop="productName"
                    label="产品名称"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="factoryName"
                    label="厂商"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="productClass"
                    label="配置"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="warranty"
                    label="保修期"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="listPrice"
                    label="市场单价"
                    width="300">
            </el-table-column>
            <el-table-column
                    prop="realCostPrice"
                    label="成本价格"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="amountUnit"
                    label="单位"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="responsiblePerson"
                    label="产品经理"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="registerTime"
                    label="建档时间"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="register"
                    label="登记人"
                    width="120">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="160">

                <template slot-scope="scope">
                    <el-button-group>
                        <el-button type="primary" title="修改" size="small" icon="el-icon-edit"></el-button>
                        <el-button type="primary" title="查看" size="small" icon="el-icon-share"></el-button>
                        <el-button type="primary" title="删除" size="small" icon="el-icon-delete"></el-button>
                    </el-button-group>
                   <!-- <el-button @click="handleClick(scope.row)" type="text" size="small" icon="el-icon-tickets">查看</el-button>
                    <el-button @click="handleClick(scope.row)" type="text" size="small" icon="el-icon-tickets">查看</el-button>-->
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="page"
                :page-sizes="[10, 20, 30, 40,50,60]"
                :page-size="pageSize"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </div>
    <el-button @click="toggleSelection([recordList[0], recordList[1]])">切换第二、第三行的选中状态</el-button>

</div>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
        new Vue({
            el: '#app',
            data: {
                page: 1,
                pageSize: 10,
                total:0,
                recordList: []
                , record: {
                    productName: "",
                    registerTime: ""
                },
                handleClick(row) {
                    console.log(row);
                },
                tableData: [
                    {
                        date: '2016-05-02',
                        name: '王小虎',
                        province: '上海',
                        city: '普陀区',
                        address: '上海市普陀区金沙江路 1518 弄',
                        zip: 200333
                    }, {
                        date: '2016-05-04',
                        name: '王小虎',
                        province: '上海',
                        city: '普陀区',
                        address: '上海市普陀区金沙江路 1517 弄',
                        zip: 200333
                    }, {
                        date: '2016-05-01',
                        name: '王小虎',
                        province: '上海',
                        city: '普陀区',
                        address: '上海市普陀区金沙江路 1519 弄',
                        zip: 200333
                    }, {
                        date: '2016-05-03',
                        name: '王小虎',
                        province: '上海',
                        city: '普陀区',
                        address: '上海市普陀区金沙江路 1516 弄',
                        zip: 200333
                    }]
            },
            methods: {
                show() {
                    console.log(this.record);
                },
                findPage() {
                    axios.post(api1+"/design_record/findPage?page="+this.page+"&pageSize="+this.pageSize,this.record).then(res=>{
                        this.total=res.data.total;
                        console.log(res);
                        this.recordList=res.data.data;
                        console.log(this.recordList);
                    }).catch(err=>{
                        console.log(err);
                    })
                },
                handleSizeChange(pageSize) {
                    this.pageSize = pageSize;
                    // console.log(`每页 ${pageSize} 条`);
                },
                handleCurrentChange(page) {
                    this.page=page;
                    this.findPage();
                  /*  this.$message({
                        message: '恭喜你，这是一条成功消息',
                        type: 'success'
                    });*/
                    // console.log(`当前页: ${page}`);
                },
                toggleSelection(rows) {
                    if (rows) {
                        rows.forEach(row => {
                            this.$refs.multipleTable.toggleRowSelection(row);
                        });
                    } else {
                        this.$refs.multipleTable.clearSelection();
                    }
                },
                handleSelectionChange(val) {
                    this.multipleSelection = val;
                }

            },
            created(){
                this.findPage();
            }
    });
</script>
</html>
