<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>销售出库</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="../../../lib/layui-v2.5.5/layui.js"></script>
    <script src="../../../lib/layui-v2.5.5/layui.all.js"></script>
    <link rel="stylesheet" href="../../../lib/layui-v2.5.5/css/layui.css">
</head>
<body>
<div id="app">
    <div>
        <fieldset class="layui-elem-field">
            <legend>销售出库</legend>

        </fieldset>
        <div style="display: inline-block">
            <el-button size="mini" type="primary" @click="addRow()">添加商品</el-button>
        </div>

       <div style="display: inline-block">
           <!--表格开始-->
           <el-form ref="form" label-width="80px">
               <div style="display: inline-block;margin-left: 0px">
                   <el-form-item label="客户名称">
                       <el-select size="mini" filterable multiple v-model="value" placeholder="请选择客户">
                           <el-option
                                   v-for="item in options"
                                   :key="item.value"
                                   :label="item.label"
                                   :value="item.value">
                           </el-option>
                       </el-select>
                   </el-form-item>
               </div>
               <div style="display: inline-block;margin-left: 100px">
                   <el-form-item label="销售单号">
                       <el-input size="mini" v-model="order_id" placeholder="销售单号" :disabled="true"></el-input>
                   </el-form-item>
               </div>
           </el-form>
       </div>
        <div>
            <table class="layui-table">

                <thead>
                <tr>
                    <th>商品名称</th>
                    <th>商品ID</th>
                    <th>商品图片</th>
                    <th>商品单价</th>
                    <th>销售数量</th>
                    <th>商品库存</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(items,index) in order">
                    <td>
                        <el-select v-model="items.product" placeholder="请选择">
                            <el-option
                                    v-for="item in optionss"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                            </el-option>
                        </el-select>
                    </td>
                    <td>
                        <el-input
                                placeholder=""
                                :disabled="true">
                        </el-input>
                    </td>
                    <td><img
                            src="http://g.hiphotos.baidu.com/image/pic/item/c75c10385343fbf2247850faba7eca8064388f97.jpg"
                            alt=""></td>
                    <td>
                        <el-input
                                placeholder=""
                                :disabled="true">
                        </el-input>
                    </td>
                    <td>
                        <el-input-number size="small" v-model="num" @change="handleChange" :min="1" :max="10"
                                         label="描述文字"></el-input-number>
                    </td>
                    <td>
                        <el-input
                                placeholder=""
                                :disabled="true">
                        </el-input>
                    </td>
                    <td>
                        <el-button type="danger" icon="el-icon-delete" circle @click="delRow(index)"></el-button>
                    </td>
                </tr>

                </tbody>
            </table>
            <div>
                <el-form ref="form" label-width="100px">
                    <div style="display: inline-block">
                        <el-form-item label="客户电话">
                            <el-input size="small" clearable placeholder=""></el-input>
                        </el-form-item>
                    </div>
                    <div style="display: inline-block">
                        <el-form-item label="客户住址">
                            <el-input size="small" clearable placeholder=""></el-input>
                        </el-form-item>
                    </div>
                    <div style="display: inline-block">
                        <el-form-item label="订单总金额">
                            <el-input size="small" clearable placeholder="" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                    <div style="display: inline-block">
                        <el-form-item label="销售人员">
                            <el-input size="small" clearable placeholder="" :disabled="true"></el-input>
                        </el-form-item>
                    </div>
                </el-form>
            </div>
            <div>
                <el-form ref="form" label-width="100px">
                    <div style="display: inline-block">
                        <el-form-item label="银行卡类型">
                            <el-input size="small" clearable placeholder=""></el-input>
                        </el-form-item>
                    </div>
                    <div style="display: inline-block">
                        <el-form-item label="结算账户">
                            <el-input size="small" clearable placeholder=""></el-input>
                        </el-form-item>
                    </div>
                </el-form>
            </div>
        </div>
    </div>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer
            , form = layui.form;
        var vm = new Vue({
            el: '#app',
            data: {
                order: [],
                num: 1,
                order_id: '',
                options: [
                    {
                        value: '选项1',
                        label: '黄金糕'
                    }, {
                        value: '选项2',
                        label: '双皮奶'
                    }, {
                        value: '选项3',
                        label: '蚵仔煎'
                    }, {
                        value: '选项4',
                        label: '龙须面'
                    }, {
                        value: '选项5',
                        label: '北京烤鸭'
                    }],
                value: "",
                optionss: [
                    {
                        value: '选项1',
                        label: '黄金糕'
                    }, {
                        value: '选项2',
                        label: '双皮奶'
                    }, {
                        value: '选项3',
                        label: '蚵仔煎'
                    }, {
                        value: '选项4',
                        label: '龙须面'
                    }, {
                        value: '选项5',
                        label: '北京烤鸭'
                    }],
                values: ""
            },
            methods: {
                /*添加商品选项*/
                addRow() {
                    this.order.push({});
                },
                /*删除商品选项*/
                delRow(index){
                    this.order.splice(index,1);
                },
                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                },
                handleCurrentChange(val) {
                    console.log(`当前页: ${val}`);
                },
                date(j) {
                    var random_no = "";
                    for (var i = 0; i < j; i++) //j位随机数，用以加在时间戳后面。
                    {
                        random_no += Math.floor(Math.random() * 100);
                    }
                    random_no = new Date().getTime() + random_no;
                    this.order_id = "XS" + random_no;
                    console.log(random_no);
                },
                handleChange(value) {
                    console.log(value);
                }

            },
            created() {
                this.date(0);
            }
        });
    });
</script>

</html>
