<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出库登记复审</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../../lib/plugin/iview/dist/styles/iview.css">

    <link rel="stylesheet" href="../../../lib/layui-v2.5.5/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../css/public.css" media="all">
</head>
<body style="margin: 0">


<div class="layuimini-container" id="app">
    <div class="layuimini-main">

        <!--搜索结束-->

        <!--数据表格-->
        <i-table border :columns="columns1" :data="data1">
            <template slot-scope="{ row, index }" slot="action">
                <i-button type="info" @click="modal1 = true;shenhe(row)" icon="ios-add-circle-outline"> 审 核 </i-button>
            </template>
        </i-table>
        <!--数据表格-->


        <!--分页-->
        <Page
                :page-size-opts=[5,10,15,20]
                :current="page"
                :page-size="pageSize"
                style="margin-top: 20px"
                :total="total"
                @on-change="currentPageChange"
                @on-page-size-change="currentPageSizeChange"
                show-total
                show-sizer
                show-elevator/>
        <!--分页-->

        <!--modal-->
        <Modal width="1300px"  v-model="modal1" :mask-closable="false">
            <div class="ivu-modal-header">
                <div class="ivu-modal-header-inner" style="padding-left: 580px"  >审核</div>
            </div>

            <form method="post" class="layui-form layui-form-pane" lay-filter="dataFrm" id="dataFrm" style="padding-top: 30px">
                <div class="layui-form-item" style="padding-left: 50px">
                    <div class="layui-inline" >
                        <label class="layui-form-label">出库人</label>
                        <div class="layui-input-inline">
                            <input type="text" name="required" id="register" lay-verify="required" autocomplete="off" readonly
                                   class="layui-input" style="width: 200px" v-model="register">
                        </div>
                    </div>
                    <div class="layui-inline" style="padding: 0 100px" >
                        <label class="layui-form-label">出库理由</label>
                        <div class="layui-input-inline" >
                            <input type="text" name="reason" id="reason" lay-verify="required" autocomplete="off" readonly
                                   class="layui-input" style="width: 200px" v-model="reason">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">登记时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="registerTime" id="registerTime" lay-verify="required" autocomplete="off" readonly
                                   class="layui-input" style="width: 200px" v-model="registerTime">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" style="padding-left: 50px">

                    <div class="layui-inline">
                        <label class="layui-form-label">总件数</label>
                        <div class="layui-input-inline">
                            <input type="text" name="amountSum" id="amountSum" lay-verify="required" autocomplete="off" readonly
                                   class="layui-input" style="width: 200px" v-model="amountSum">
                        </div>
                    </div>
                    <div class="layui-inline"  style="padding:0 100px" >
                        <label class="layui-form-label">总金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="costPriceSum" id="costPriceSum" lay-verify="required" autocomplete="off" readonly
                                   class="layui-input" style="width: 200px" v-model="costPriceSum">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">出库总数量</label>
                        <div class="layui-input-inline">
                            <input type="text" name="paidAmountSum" id="paidAmountSum" lay-verify="required" autocomplete="off" readonly
                                   class="layui-input" style="width: 200px" v-model="paidAmountSum">
                        </div>
                    </div>
                </div>



                <!--数据表格-->
                <div style="width: 1205px;padding-left: 50px">
                <i-table border :columns="columns2" :data="data2">
                    <template slot-scope="{ row, index }" slot="paidAmount">

                        <i-input v-model="numArray[index]"></i-input>
                    </template>
                </i-table>
                </div>
                <!--数据表格-->


                <div style="margin-left: 600px;padding-top: 40px">
                    <Button-group>
                        <i-button style="width: 100px;height: 40px" @click="chenggong">通过</i-button>
                    </Button-group>
                </div>
            </form>

            <div slot="footer"></div>
        </Modal>
        <!--modal-->

    </div>
</div>



<!-- 你的HTML代码 -->

<!--jq-->
<script src="../../../lib/jquery-3.4.1/jquery-3.4.1.min.js"></script>
<script src="../../../lib/plugin/vue/vue.min.js"></script>
<script src="../../../lib/plugin/iview/dist/iview.min.js"></script>

<!--layui-->
<script src="../../../lib/layui-v2.5.5/layui.js" charset="utf-8"></script>

<!--axios-->
<script src="../../../lib/plugin/axios/axios.min.js"></script>

<!--系统文件-->
<script src="../../../lib/common/jquery.cookie.min.js" charset="utf-8"></script>
<script src="../../../lib/common/common.js" charset="utf-8"></script>
<script>

    let urlApi = 'http://127.0.0.1:8004/';
    let vue;

    $("#addDept").click(function () {
        openAdddept();
    });

    // 入口函数
    $(function () {
        // http request 拦截器
        axios.interceptors.request.use(
            config => {
                if (token) { //判断token是否存在
                    config.headers.token = $.cookie("TOKEN");  //将token设置成请求头
                }
                return config;
            },
            err => {
                return Promise.reject(err);
            }
        );

        // 初始化Vue
        vue = new Vue({
            // 控制区域
            el: '#app',
            // 数据
            data: {
                indexVal: 0,
                columns1: [
                    {title: '出库单编号',fixed: 'left', key: 'outboundId', align: 'center',},
                    {title: '出库理由', key:'reason', align: 'center'},
                    {title: '登记时间', key: 'registerTime', align: 'center'},
                    {title: '总件数', key: 'amountSum', align: 'center'},
                    {title: '总金额', key: 'costPriceSum', align: 'center'},
                    {title: '操作',slot: 'action', width: 280,fixed: 'right',align: 'center'}
                ],
                columns2: [
                    {title: '产品编号',fixed: 'left', key: 'productId', align: 'center',},
                    {title: '产品名称', key:'productName', align: 'center'},
                    {title: '应出库件数', key: 'amount', align: 'center'},
                    {title: '已出库件数', key:'subtotal', align: 'center'},
                    {title: '本次出库数量', slot: 'paidAmount', align: 'center'}
                ],

                data1: [],
                data2: [],
                page: 1,
                amountSum:0,
                costPriceSum:0,
                pageSize: 10,
                total: 9,
                id:0,
                paidAmountSum:0,
                register:"",
                outboundId:"",
                registerTime:"",
                numArray: [],
                reason:"",
                modal8: false,
                modal1: false
            },

            // 方法
            methods: {
                chenggong(){

                    this.$Message.success('正在提交审核');


                    let objs = {
                        product_id:[],//产品编号
                        paid_amount:[]//确认入库件数
                    }
                    for (let i = 0; i < this.data2.length; i++) {
                        objs.product_id.push(this.data2[i].productId);
                        objs.paid_amount.push(this.numArray[i]);
                    }
                    let obj = `id=${this.id}&paid_amount_sum=${this.paidAmountSum}&product_id=${objs.product_id}&paid_amount=${objs.paid_amount}`;
                    axios.post(urlApi + 'warehouseOutbound/WarehouseOutboundAudit?' + obj).then(res => {
                        this.$Message.error('正在提交');
                    }).catch(err => {
                        this.$Message.error('提交失败');
                    })


                    console.log(obj)

                },
                shibai(){
                    this.$Message.success('想回绝 告诉你想都不要想');
                },
                shenhe(row){

                    this.gatheredAmountSum=row.gatheredAmountSum;
                    this.id=row.id;
                    this.outboundId=row.outboundId;
                    this.reason=row.reason;
                    this.amountSum=row.amountSum;
                    this.costPriceSum=row.costPriceSum;
                    this.register=row.register;
                    this.registerTime=row.registerTime;
                    this.initTableData2();

                },
                tabsEventClick(val) {
                    this.indexVal = val;
                },
                initTableData1() {
                    let params = `store_tag=2&check_tag=0&page=${this.page}&limit=${this.pageSize}`;
                    axios.get(urlApi + "warehouseOutbound/queryWarehouseOutbound?" + params).then(res => {
                        this.data1 = res.data.data;
                    }).catch(err => {
                        this.$Message.error('对方不想说话，并且向你抛出了一个异常');
                    });
                },
                initTableData2() {
                    let params = `id=${this.id}&page=${this.page}&limit=${this.pageSize}`;
                    axios.get(urlApi + "warehouseOutboundDetailed/queryWarehouseOutboundDetailed?" + params).then(res => {
                        this.data2 = res.data.data;
                    }).catch(err => {
                        this.$Message.error('对方不想说话，并且向你抛出了一个异常');
                    });
                },
                // 当前页发生改变
                currentPageChange(val) {
                    this.page = val;

                    // 重新渲染表格数据
                    this.initTableData1();
                    this.initTableData2();
                },
                // 当前页显示条数发生改变
                currentPageSizeChange(val) {
                    this.pageSize = val;

                    // 重新渲染表格数据
                    this.initTableData1();
                    this.initTableData2();
                },
            },
            // 钩子函数
            mounted() {
                this.initTableData1();
                this.initTableData2();
            }
        })
    });
</script>
</body>
</html>
